html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  ============== STYLING =======================*/
body {
  font-family: 'Open Sans', sans-serif;
}
header{
  margin: 20px 0;
  border-bottom: 1px solid #dedede;
}
header h3 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 5px;
}
/* ========== START REMOVE UP/DOWN ARROWS FROM NUMBER INPUTS==== */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ========== END REMOVE UP/DOWN ARROWS FROM NUMBER INPUTS==== */
.input-section{
  background-color: #f6f6f6;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  padding: 1rem 0.5rem;
}
label {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
}
#bill-amount, #number-of-people{
  padding-left: 15px;
}
#tip-percent {
  margin-left: -14px;
}
#bill-amount{
  margin-left: -10px
}
.dollar-sign {
  position: relative;
  left: 5px;
  top: 6px;
}
.percent-sign {
  position: relative;
  left: 31px;
  top: 7px;
}
/* ====== OUTPUT SECTION STYLING ============*/
.output-section{
  /*background-color: #92C7FF;*/
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  padding: 1rem 1.5rem;
}
.output-section h3 {
  margin-bottom: 1.7rem;
}
.output-section .tip-amount h3 {
  display: inline-flex;
  font-size: 20px;
}
.output-section .total-amount h3 {
  display: inline-flex;
  font-size: 20px;
}
.output-section .split-amount h3 {
  display: inline-flex;
  font-size: 20px;
}
